# Import pandas and read csv file into a Pandas table (DataFrame)

In [ ]:
import pandas as pd

In [ ]:
penguins = pd.read_csv('palmer_penguins.csv')
penguins.head()

In [ ]:
penguins.shape

In [ ]:
penguins.Species.unique() #.unique() returns all distinct values in this column, in the order they appear

# Individual indexing and slicing

Not done very often

In [ ]:
penguins.loc[2] #select row with row label (index) 2

In [ ]:
penguins.iloc[2] #select the 3rd row from the top

In [ ]:
penguins.drop(index=[2, 3]) #drop rows

In [ ]:
penguins.loc[2:10:3] # Slicing using name.loc[start:end:step]

In [ ]:
penguins.loc[2:6] # note it is name.loc[start:end:step], "end" is inclusive

In [ ]:
penguins.loc[100:]

In [ ]:
penguins.loc[::5]

In [ ]:
penguins.iloc[1:4] # .iloc is similar to list[start:stop:step], start included, stop excluded

In [ ]:
penguins.loc[1:4]

# Boolean indexing

**Can we select rows based on whether their values satisfy certain conditions? (Avoid using "for loop + if")**

**Task: Check which penguins have a culmen (bill) length less than 40 mm.
This creates a list of "yes/no" answers for every penguin in the dataset.**

In [ ]:
# If we didn't have boolean indexing...

df = pd.DataFrame(columns = penguins.columns)

for row_num in penguins.index:
    row = penguins.loc[row_num]
    if row['Culmen Length (mm)'] < 40:
        df.loc[len(df)] = row
df

**The following line creates a new Series (like an array) of True/False values.** `penguins['Culmen Length (mm)'] < 40`
 - The size of this Series is the same as the number of rows in the DataFrame.
 - Each row gets True if the penguin's culmen (bill) length < 40 mm, otherwise it gets False.

In [ ]:
penguins['Culmen Length (mm)'] < 40

*Of course you can assign this array (the True/False results) into a new variable:*

In [ ]:
culm = (penguins['Culmen Length (mm)'] < 40) 
culm

**Boolean indexing returns a table with only the rows for which the corresponding bool is True:**

In [ ]:
penguins[culm] #recall we use [] for indexing, so this is called boolean indexing

**Summing an array or list of bool values will count the True values only.** For example, `sum([1 , 0 , 1])  -> 2`, `sum([True, False, True])  -> 2`

In [ ]:
sum(culm)

**Involving a new condition:**

In [ ]:
torg = (penguins['Island'] == 'Torgersen')
torg

In [ ]:
sum(torg)

In [ ]:
penguins[torg].head()

**Now what if we want to have multiple conditions? (Go back to the slides)**

In [ ]:
sum(culm & torg) # Elementwise logical operator "AND"

In [ ]:
culm_and_torg = penguins[culm & torg]

In [ ]:
culm_and_torg.head()

In [ ]:
culm_and_torg.iloc[2] # 3rd from the top

In [ ]:
culm_and_torg.loc[2] # row label (index) is 2 ... now you get the difference between .iloc and .loc

In [ ]:
sum(culm | torg) # Elementwise logical operator "OR"

In [ ]:
penguins[culm | torg]

**How do we combine three conditions?**

In [ ]:
chonk = (penguins['Body Mass (g)'] > 5000)
sum(chonk)

In [ ]:
sum(culm & torg | chonk) # Confusing… Order matters! Recommend doing two at a time.

In [ ]:
sum((culm & torg) | chonk)

In [ ]:
sum(culm & (torg | chonk))

In [ ]:
sum(culm & torg & chonk)

# Groupby

In [ ]:
nba = pd.read_csv('nba_salaries.csv')
nba

**We can (for example) select all nba players with position PG, and calculate their average salary.**

**What if we want to find which position has the highest avg salary?**

In [ ]:
# if we didn't use groupby...

for pos in nba.position.unique():
    pos_bool = (nba.position==pos)
    print(pos, nba[pos_bool].salary.mean())

**Easier way: Groupby(Split – Apply – Combine)**

In [ ]:
# easy living with groupby for easy/common operations like mean
nba.groupby('position')["salary"].mean() #df.groupby("split_column")["apply_column"].some_aggregation()

In [ ]:
nba.groupby('position').salary.mean() # recall you have two ways to select columns, so this is same as the above line

**More aggregation functions can be found in slides, for example** `.max()`, `.median()`, etc

In [ ]:
# you can add even more stuff
nba.groupby('position').salary.mean().round()

**You can also use "for loop + group by" (Read it your self)**

In [ ]:
# for loop + group by
for pos, sub_nba in nba.groupby('position'):
    print(pos, sub_nba.salary.mean())
# Loop through the groups created by "groupby('position')".
# For each position (pos), we get a smaller DataFrame (sub_nba).
# Then we calculate and print the average salary for that position.

# Missing values (NAs)

In [ ]:
penguins.info() #gives us an idea how many NAs there are per column

**How can we handle missing values (NAs)?**
1) Drop rows with any NAs → simple and often works well.
   (You lose some data, but the rest is clean.)
2) Fill NAs with a value (e.g., 0 or column mean).
   (Be careful! This can change the meaning of your data.)
3) Drop entire columns if they have too many NAs.
   (No point keeping a column that is mostly empty.)

In [ ]:
penguins.isna() #creates a DataFrame of the same shape, but filled with True/False values: - True means the cell is missing (NA/NaN) - False means the cell has a valid value

In [ ]:
penguins.notna()

In [ ]:
penguins.dropna() # Drop rows with any missing values

In [ ]:
penguins.dropna().shape

In [ ]:
penguins.dropna(subset=['Culmen Length (mm)', 'Island']) # Drop rows only if these columns have missing values，remember to assign it to a new variable

In [ ]:
penguins.dropna(subset=['Culmen Length (mm)', 'Island']).shape

# Sorting rows

In [ ]:
nba.sort_values(by='salary') # sort the rows according to the given column “salary” (smallest → largest)

In [ ]:
nba.sort_values(by='salary', ascending=False) # Sort rows by salary (largest → smallest)

In [ ]:
nba.sort_values(by=['salary', 'season']) # Sort rows first by salary, then by season (salary is the primary key)

In [ ]:
nba.sort_values(by=['season', 'salary']) # Sort rows first by season, then by salary (season is the primary key)

# Read-it-yourself questions 

## Penguins

a) What is the average `Body Mass (g)` of `Female` penguins in `Dream` island?

b) What is the percentage of `Female` penguins in `Adelie` species? 

c) What is the percentage of chonky penguins per species? Chonky is defined as `Body Mass` over 5kg.

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## NBA

a) Add a new column of the salary in units of 1M. Round to 2 digits after decimal point.

b) Find the names of all point guards (PG) who made more than $15M

c) After evaluating these expressions in order, what's the result?

```python
nba = pd.read_csv('nba_salaries.csv')
nba.drop(columns='position')
nba.shape
```

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here